.more {
  max-width: 1140px;
  width: calc(100% - 140px);
}

@media screen and (max-width: 1024px) {
  .more {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 768px) {
  .more {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 425px) {
  .more {
    width: calc(100% - 20px);
  }
}

.more__button {
  margin: 50px 0 80px;
  background: #F9F9F9;
  border-radius: 6px;
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding: 11px 0 9px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.more__button:hover {
  opacity: 0.6;
}
